body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1420px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
  padding-bottom: 3em;
}

h1 {
  font-size: 40px;
}

.h2-Header {
  font-size: 30px;
  font-weight: lighter;
  margin-top: -25px;
}

.p-Header {
  color: rgb(214, 214, 214);
  font-size: 13px;
  margin: -10px 30px 0 30px;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 24px;
  margin-top: 0;
  max-width: 1420px;
}

.h2-Section,
.h2-Form {
  color: rgb(101, 101, 101);
  border-bottom: 2px solid rgb(101, 101, 101);
  padding-bottom: 5px;
}

img {
  width: 100%;
  margin: -5px 0 0 0;
}

.p-Section1 {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(77, 77, 77);
}

.p-Section2 {
  margin: auto;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(77, 77, 77);
}

.h2-Form {
  margin-bottom: 10px;
}

.div-Form {
  margin: 24px;
}

form label,
form input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: rgb(24, 24, 24);
  font-weight: bold;

  float: left;
  clear: both;
  margin-bottom: 5px;
  margin-top: 10px;
}

.username,
.direccion,
.comentario {
  background: rgb(189, 189, 189);
  border: rgb(189, 189, 189) 1px solid;
  border-bottom: rgb(189, 189, 189) 1px solid;
  width: 100%;
  padding: 8px 0 8px 8px;
  color: rgb(0, 0, 0);
}

button {
  width: 110px;
  height: 35px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;

  background-color: rgb(37, 37, 37);
  border: rgb(37, 37, 37);
  color: rgb(240, 240, 240);
}

@media (min-width: 768px) {
  .header {
    font-family: "Roboto", sans-serif;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: left;
    text-align: left;
  }

  h1 {
    font-size: 60px;
    margin: 60px 0 0 30px;
  }

  .h2-Header {
    font-size: 50px;
    margin: 10px 0 25px 30px;
  }

  .p-Header {
    font-size: 20px;
  }

  img {
    float: right;
    width: 50%;
  }

  .p-Section1 {
    margin: 0;
    font-size: 20px;
    margin-right: 45%;
  }

  .p-Section2 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    margin: 0 325px 25px 325px;
  }

  .div-Form {
    margin: -25px 325px 25px 325px;
  }
}
